<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/admin/create/">
    <label for="title">Название поста: </label>
    <input type="text" name="title" id="title"/><br/>
    <label for="description">Описание поста: </label>
    <textarea cols="50" rows="10" id="description" name="description"></textarea><br/>
    <label for="like">Количество лайка: </label>
    <input type="number" name="like" id="like"/>
    <br/>
    <input type="submit"/>
</form>
</body>
</html>